<div *ngIf="devices.length" class="card mt-3">
  <div class="card-header">
    Список устройств
  </div>
  <ul class="list-group list-group-flush">
    <li
      *ngFor="let device of devices; let i = index"
      class="list-group-item d-flex"
      (click)="toggleModalWindow(device)"
    >
      <div class="info">
        <div class="fs-4">{{ device.title.value }}</div>
        <div class="fs-6">Тип: {{ device.deviceType.value }}</div>
      </div>
      <div class="btn-close" (click)="removeDevice(i)"></div>
    </li>
  </ul>
</div>
